* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(circle, #646876, #646a79, #646c7c, #646f7f, #637182, #627384, #627586, #617788, #607a8a, hsl(200, 19%, 46%), #5e7f8e, #5d828f);
}

.game-container {
    opacity: ;
    width: 70vw;
    height: 80vh;
    background-color: #cfcaca;
    border-radius: 8px;
    box-shadow: 10px 25px 115px 59px rgba(207, 202, 202, 0.75);
    -webkit-box-shadow: 10px 25px 115px 59px rgba(207, 202, 202, 0.75);
    -moz-box-shadow: 10px 25px 115px 59px rgba(207, 202, 202, 0.75);
}

.intro {
    border: 1px solid black;
    color: #4A4453;
    font-family: 'Courier New', Courier, monospace;
    height: 90px;
    text-align: center;
}

.intro > h1 {
    margin: 0;
    font-size: 2rem;
    padding-top: 10px;
}

.intro > p {
    font-family: cursive;
    margin: 0;
    font-size: 1.5rem;
    /* padding-bottom: 10px; */
    color: #617788;
}
.intro > p > span {
     padding: 0 2px;
    border-radius: 3px;
    color: white;
}

.rock-txt {
    background-color: rgb(149, 42, 42);
}

.paper-txt {
    background-color: #898383;
}

.scissors-txt {
    background-color: silver;
}

.btn-container {
    width: 100%;
    height: 320px;
    background-image: linear-gradient(to right bottom, #964b00, #bf5f4c, #d68089, #dfa6bd, #e6cee3, #e6daea, #e9e5ed, #efefef, #e3e3e3, #d7d7d7, #cccccc, #c0c0c0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    padding-bottom: 20px;
}

.btn-container > .btn > button { 
    font-size: 1.2rem;
    padding: 5px 20px;
    border-radius: 8px;
    font-family: cursive;
    border: 1px solid #5d828f;
    line-height: 2rem;
}

.btn-container > .btn > button:hover {
    color: white;
    border: none;
    font-style: italic;
    background-image: radial-gradient(circle, #00ff00, #00ff79, #00ffb7, #00ffe4, #00ffff);
}

.game-result > .txt {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
}
